{% extends 'mycontacts/background.html' %}
{% load static %}

{% block content %}
<div class="container-show">
    <ul class="grid" style="list-style-type: none">
        
    {% for data in contacts %}
    <li>
        <a href="{% url 'detail' data.id %}" Name: {{data.name}}</a>
        <div>
            <h2 class="name">{{ data.name }}</h2>
            <div class="relation">{{ data.relation }}</div>
            <div class="phone">{{ data.phone }}</div>
            <div class="email"><a href='{{ data.email }}'>{{ data.email }}</a> </div>
            <a href="{% url 'edit' data.id %}"> 
                <img src="{% static 'img/edit.png' %}" height="60px">
            </a>
            <a href="{% url 'delete' data.id %}"> 
                <img src="/mycontacts/static/img/excluirimagem.png" height="60px">
            </a>
                        
        </div>
    </li>
    {%  endfor %}
    
    </ul>
</div>      
{% endblock content %}